doctype html 
html 
    head
        title appointment details
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p good day, kindly find your zoom meeting link for the scheduled call with our marketing specialist;
        p You have been invited to join a Zoom meeting.
        p Meeting URL: #{meetingUrl}
        p Meeting Password: #{meetingPassword}
        p Meeting Time: #{meetingTime}
        p Meeting Duration: #{meetingDuration}
        p Thank you,
        p The Aquession Team