doctype html
html 
    head
        title username and password
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p your account has been approved.
        p your username is #{username}
        p your password is #{password}
        p Thank you,