doctype html
html
  head
    title Contact Details
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    h1 Contact Information
    p Full Name: #{fullName}
    p Email: #{email}
    p Phone: #{phone}
    p Message: #{message}