doctype html
html 
    head
        title Forget your password
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p here is your verification code #{code}
        p if you did not request this, please ignore this email.
        p your code will expire in #{expire} minutes.
        p Thank you,