doctype html
html 
    head
        title Reset your password
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
    body
        p here is your verification link #{link}
        p This link will expire in #{expiry} minutes.
        p Thank you,